body{
	background: linear-gradient(180deg, #fcf1f1 0%, #f6fcf8 50%, #c4edc6 100%);
	font-family: Arial, "Times New Roman", sans-serif;
    margin: -19px 0 0;
    padding: 0 !important;
	width: 100%;
}

header{
	background: linear-gradient(180deg, #14407c 0%, #3765a5 100%);
	height: 85px;
    margin: 0;
	min-width:980px;
	width:100%;
}

header > div {
	height: 85px;
	margin: 0 auto;
	padding: 0;
	width: 980px;
}

header ul {
	margin: 0;
	padding: 0;
}

header ul > li p span {
	color: gold;
}

#brand {
	border: none;
	background-color:inherit;
	cursor: default;
}

header ul li {
	float: left;
    list-style: outside none none;
    padding: 10px 41px;
}

header ul li a {
	text-decoration: none;
}

header ul li p {
	background-color: #146ba2;
    border: 1px inset #063a5a;
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
	text-shadow: 1px 1px 1px #000;
}

header ul li p:hover {
	background-color: #14407c;
}

article {
	height: auto;
	min-width:980px;
	width:100%;
}
#content {
	height: auto;
    margin: 0 auto;
    width: 980px;
}

#top {
    background-color: #fbfafc;
	border: 1px solid #b4adad;
	border-radius: 0 0 10px 10px;
	height: 50px;
	width: 100%
}

#top div:first-child{
	float: left;
	width: 30%;
	height: 40px;
}

#top div:first-child div{
    float: none !important;
    height: 40px;
    margin: 5px auto;
    width: 70%;
}

#top div:first-child div p{
	color: #3765a5;
    font-weight: bold;
    line-height: 40px;
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px 1px #ddd;
}

#top div:last-child{
	float: right;
	width: 70%;
	height: 40px;
}

#top div:last-child table{
	width: 100%;
}

#top div:last-child table td{
	border: 1px solid #00f;
}

#top div:last-child table p{
	color: #3765a5;
	font-size: 90%;
	text-align: center;
	text-shadow: 1px 1px 1px #ddd;
}

#left_top {
    float: left;
    height: auto;
    width: 30%;
}

#frame {
	background: linear-gradient(180deg, #1a72ea 0%, #c4edc6 100%);
	border: 2px solid #14407c;
	border-radius: 10px;
	height: 200px;
	margin: 20px auto;
	padding: 10px;
	width: 68%;
}

#photo_emblem {
	height: 0px;
}

#photo_emblem img{
    bottom: 25px;
	clear: both;
	cursor: pointer;
    left: 5px;
	position: relative;
	transition:  width 1s;
	width: 20px;
}

#photo_emblem img:hover {
	width: 23px;
}

#upload_form {
	display: none;
	height: 0px;
	float: left;
	left: 3px;
	position: relative;
	top: 125px;
}

#button{
	margin: 20px auto;
	padding: 10px;
	width: 68%;
}

#teach {
	background: linear-gradient(180deg, #06fd0f 0%, #099f42 3%, #0abc4f 97%, #06fd0f 100%);
	border: 1px solid #03340a;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 150%;
    font-weight: bold;
    padding: 10px 49px;
    text-shadow: 2px 2px 5px #111;
}

#write {
	background: linear-gradient(180deg, #06fd0f 0%, #099f42 3%, #0abc4f 97%, #06fd0f 100%);
	border: 1px solid #03340a;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 75%;
    font-weight: bold;
	margin: 0 0 0 13px;
    padding: 5px 31px;
    text-shadow: 2px 2px 5px #111;
}

#honors {
    margin: 20px auto;
	width: 90%;
}

#honors table {
	border-spacing: 0;
	width: 100%;
}

#honors table tbody {
	background-color: #fbfafc;
	border: 1px solid #9a9d9d;
	display: block;
}

#honors table thead td {
	background: linear-gradient(180deg, #3765a5 0%, #4c72a7 3%, #6784ac 97%, #919dad 100%);
    border-radius: 10px 10px 0 0 ;
    color: gold;
	text-align: center;
    text-shadow: 1px 1px 1px #000;
}

#honors table tbody td {
	height: 100px;
	width: 30%;
}

#right_top {
    float: right;
    height: auto;
    width: 69%;
}

#friends {
	height: 200px;
	width: 100%;
}

#friends table {
	border-spacing: 0;
	width: 100%;
}

#friends p {
    color: #14407c;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
}

#friends p span {
    background-color: gold;
    display: inline-block;
    font-size: 80%;
}

#friends table table {
	border: 1px solid #14407c;
    border-radius: 10px;
    border-spacing: 0;
    padding: 5px;
    width: 200px;
}

#friends table table td {
	width: 60px;
}

#friends table table img {
	display: inline-block;
    margin: 0 5px;
    width: 50px;
}

#friends table table p {
	font-size: 60%;
    text-align: center;
    text-shadow: 0 0 0 #fff;
}

#blog {
	clear: both;
	width: 100%;
}

#blog div:first-child {
	background: linear-gradient(180deg, #14407c 0%, #3765a5 100%);
	border-radius: 5px 5px 0 0 ;
	margin:0;
	padding:0;
	width: 95%;
}

#blog div:first-child p {
	color: #fff;
    font-size: 90%;
    margin: 0 0 0 20px;
    padding: 5px 0;
    text-align: left;
    text-shadow: 1px 1px 1px #000;
}

#blog div:last-child {
	background-color: #ffd;
	height: 40px;
	margin:0;
	width: 95%;
}

#blog div:last-child  input {
	margin: 12px;
	width: 95%;
}