body {
    background-color: #fff;
    font-family: Arial, "Times New Roman", sans-serif;
    margin: 0;
    padding: 0;
}

/*---------------------------------------------------------HEADER-----------------------------------------------------*/

header {
    background: linear-gradient(180deg, #14407c 0%, #3765a5 100%);
    margin: 0;
    width: 100%;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.wrapped {
    margin: 0 auto;
    min-width: 980px;
    height: 100px;
}

.wrapped .logo {
    float: left;
}

.wrapped .logo h1 {
    visibility: hidden;
}

.wrapped .logo a {
    cursor: default;
}

.logo {
    background: url('../images/top-logo.png') no-repeat top 10px right 30px;
    background-size: 80%;
    overflow: hidden;
    height: 100px;
}

.nav-bar {
    float: right;
    margin: 0;
    padding: 15px 0 !important;
}

.nav-bar nav > ul {
    margin-top: 15px;
    padding: 0;
}

.nav-bar nav > ul > li {
    float: left;
    list-style: outside none none;
    margin: 5px;
    padding: 0;
}

.nav-bar nav ul li button {
    background: rgba(0, 0, 0, 0) linear-gradient(180deg, #2169a5 0%, #40c6ea 100%) repeat scroll 0 0;
    border: 1px solid #a4a4a4;
    border-radius: 3px;
    color: #fff;
    font-size: 1.2em;
    padding: 3px 5px;
    text-shadow: 1px 0 1px #000;
}

.header-dropdown {
    background-color: #fff;
}

.header-dropdown li {
    padding: 5px;
}

.header-dropdown li > a {
    color: #2f2025 !important;
}

.header-dropdown li > a:hover {
    color: deepskyblue !important;
}

.header-dropdown li i {
    padding-right: 5px;
}

.nav-bar .search {
    background-color: #fff;
    border: 1px solid #a4a4a4;
    border-radius: 3px;
}

.nav-bar .search input {
    border: 1px solid #fff;
    margin-right: -5px;
    line-height: 20px;
    outline: none;
    padding: 5px;
    width: 137px;
}

.nav-bar .search button {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #ccc;
    outline: medium none;
    padding: 7px 10px 9px 5px;
}

.nav-bar nav > ul > li:last-child {
    margin-right: 4px;
}

.nav-bar nav > ul > li:last-child button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    margin: 10px 5px;
}

.dropdown-center {
    left: -130px !important;
    top: 35px !important;
}

/*-------------------------------------------------------------------------------------------------------------------*/
.content .left {
    border-right: 1px solid rgba(164, 164, 164, 0.6);
}


.username {
    background-color: rgba(29, 145, 166, 0.7);
    border: 1px solid navy;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: none;
}

.username p {
    color: #fff;
    font-size: 150%;
    padding: 10px 7px 5px 7px;
    text-align: center;
    text-shadow: 1px 1px 2px navy;
}

.frame {
    background-color: rgba(34, 170, 255, 0.2);
    border: 1px solid #14407c;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
}

.frame .avatar {
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
    width: 175px;
}

.frame .avatar i {
    top: 110px;
    position: absolute;
    left: 80px;
    font-size: 90%;
    color: navy;
}

.frame .avatar i:hover {
    color: #e5e5e5;
}

.frame .avatar img {
    width: 150px;
    margin: 0 auto;
    display: block;
}

.uploader {
    position: absolute;
    visibility: hidden;
    margin: 0 auto;
    width: 100%;
}

.uploader .upload {
    margin: 100px auto;
}

.show-uploader {
    background-color: rgba(117, 117, 193, 0.42);
    height: 100%;
    /*visibility: visible;*/
    z-index: 1;
}

.show-uploader .form-wrapper, .subject-progress {
    background-color: #fff;
    border-top: 20px solid navy;
    border-bottom: 1px solid navy;
    border-left: 1px solid navy;
    border-right: 1px solid navy;
    border-radius: 5px;
    padding: 30px;
    width: 300px;
    height: 300px;
    margin: 30px auto;
}

.show-uploader .form-wrapper form input {
    margin: 5px 0;
}

.create-project {
    margin: 30px 0;
}

.btn-create, .btn-use-klg {
    margin: 0;
    display: block;
    border-radius: 4px;
    text-shadow: 1px 1px 1px #000;
    font-size: 120%;
    width: 100%;
    height: 40px;
}

blockquote {
    background-color: rgba(21, 179, 126, 0.32);
    border: 1px solid #00B37C;
    border-left: 5px solid rgba(60, 125, 218, 0.79) !important;
    border-radius: 6px;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.4);
    font-family: Georgia,serif;
    font-size: 16px;
    font-style: italic;
    margin: 20px;
}


.subject-progress {
    height: auto;
    width: 100%;
}

.subject {
    text-align: center;
}

.wall {
    clear: both;
    width: 100%;
}

.wall .wall-top {
    background: linear-gradient(180deg, #14407c 0%, #3765a5 100%);
    border-radius: 5px 5px 0 0 ;
    margin: 0;
    padding: 3px 0;
    width: 95%;
}

.wall .wall-top span {
    color: #fff;
    font-size: 90%;
    margin: 0 0 0 20px;
    padding: 5px 0;
    text-align: left;
    text-shadow: 1px 1px 1px #000;
}

.wall .blog {
    background-color: #ffd;
    height: 40px;
    margin:0;
    width: 95%;
}

.wall .blog input {
    margin: 12px;
    width: 95%;
}

.blog-nav {
    opacity: 0;
}

.wall .publish-wrapper {
    float: left;
}

.publish {
    border-radius: 3px;
    margin-left: 10px;
}

.wall .attach-wrapper {
    float: right;
    margin-right: 30px
}

.wall .attach-wrapper i {
    cursor: pointer;
    font-size: 150%;
    padding: 0 15px;
}