html, body {
   background-color: #F0F1F2;
   color: #000;
   font-family: Arial, "Times New Roman", sans-serif;
   font-size: 14px;
   margin: 0;
   padding: 0;
}

table, tr, td {
   padding: 0;
   margin: 0;
   border-collapse: collapse;
   border: 0 none;
   background: none;
}

/*--------------------------------------------------------------------HEADER------------------------------------------*/
header {
   color: #fff;
   margin: 0;
   width: 100%;
}

header a {
   color: #fff;
   text-decoration: none;
}

header input {
   color: #000;
}

header input[type="text"],
header input[type="password"],
header input[type="submit"] {
   display: block;
   margin: 0 auto;
   padding: 2px;
   width: 80%;
}

.clearfix::after {
   content: '';
   display: block;
   clear: both;
}

.wrapped .logo-wrapper {
   background: linear-gradient(180deg, #14407c 0%, #3765a5 100%);
}

.logo {
   background: url('../images/top-logo.png') no-repeat top 15px left 35px;
   background-size: 75%;
   margin: 0 auto;
   width: 300px;
}

.wrapped .logo h1 {
   font-size: 200%;
   margin: 0;
   padding: 30px;
   text-shadow: 2px 1px 5px #000;
   visibility: hidden;
}

.wrapped .logo a {
   cursor: default;
}

.wrapped .login-form label,
.wrapped .login-form a {
   color: #353C46;
   display: block;
   margin: 5px auto;
   text-shadow: 0 0 1px #F3ECEC;
   text-align: center;
   width: 80%;
}

.input-wrapper {
   padding: 0 0 10px;
}

.input-wrapper-addtitional {
   width: 80%;
   margin: 0 auto;
}

.input-wrapper-addtitional label,
.input-wrapper-addtitional a {
   display: inline !important;
   margin: 0px 15px !important;
}

#loginForm input[type="submit"],
.content input[type="submit"] {
   background: rgba(0, 0, 0, 0) linear-gradient(180deg, #0aa546 0%, #0B5F2B 100%) repeat scroll 0 0;
   border: 1px solid #033e03;
   color: #fff;
   cursor: pointer;
   display: block;
   margin: 10px auto;
   padding: 4px 8px;
   text-shadow: 1px 1px 1px #000;
   width: 82%;
}

#loginForm #remember_me {
   height: 13px;
   margin: 0;
   padding: 0;
   position: relative;
   top: 2px;
   width: 13px;
}

#loginForm .input-wrapper tr:last-child td {
   height: 27px;
   font-size: 95%;
   line-height: 27px;
}

.red {
   color: #F76E6E !important;
}

/*---------------------------------------------------------MAIN CONTENT-----------------------------------------------*/

.content {
   margin: 0;
   min-height: 100px;
}

.content-logo {
   background: url('../images/logo.png') no-repeat top 100px center;
   background-size: 350px;
   height: 340px;
   float: left;
   width: 50%;
}

.registration-form {
   float: right;
   width: 50%;
}

.pointer {
   cursor: default;
}

#registration .r-input-wrapper {
   padding: 10px 0;
   width: 100%;
}

#registration .r-header h3 {
   font-size: 220%;
   color: #000;
   margin: 15px 0 0 0;
   text-align: left;
}

#registration .r-input-wrapper input {
   border: none;
   border-radius: 5px;
   font-size: 140%;
   outline: #fff;
   padding: 10px 15px;
   width: 100%;
}

#registration .r-input-wrapper .border {
   border: 2px inset rgba(16, 16, 224, 0.37);
   border-radius: 5px;
}

#registration .r-input-wrapper .name-surname {
   width: 48%;
}

#registration .r-input-wrapper .name-surname:first-child {
   float: left;
}

#registration .r-input-wrapper .name-surname:last-child {
   float: right;
}

#registration .sex {
   float: left;
   height: 27px;
   line-height: 27px;
   margin: 10px 0 10px 20px;
}

#registration .sex input {
   height: 25px;
   margin: 0 0 0 13px;
   padding: 0;
   position: relative;
   top: 2px;
   width: 13px;
}

#registration .sex label {
   color: #000;
   float: left;
   font-size: 120%;
   text-shadow: 1px 0 1px #fff;
}

#reg_button {
   background: linear-gradient(180deg, #66F56C 0%, #0FE05F 3%, #40C774 97%, #0FC716 100%);
   border: 1px solid #03340a;
   border-radius: 4px;
   color: #fff;
   cursor: pointer;
   font-weight: bold;
   margin: 25px auto 0;
   text-shadow: 2px 2px 5px #111;
}

.gif {
   display: none;
   padding: 0 5px;
}

.gif img {
   width: 20px;
}

.warrning {
   background-color: #fff;
   border: 2px solid #ce0a0a !important;
}

.new_width {
   width: 80% !important;
}

.error_sign {
   display: none;
   float: right;
   margin: 11px 13px;
}

.sex_border .error_sign {
   float: left;
   margin: 11px 40px;
}

.error_sign img {
   width: 20px;
}

.arrow {
   width: 40px;
   height: 16px;
   overflow: hidden;
   position: absolute;
   left: 90%;
   margin-left: -35px;
   bottom: -16px;
}

.arrow:after {
   background: #d81010;
   border: 2px solid #2d0303;
}

.arrow:after {
   content: "";
   position: absolute;
   left: 20px;
   top: -20px;
   width: 15px;
   height: 25px;
   box-shadow: 6px 5px 9px -9px black;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}

/*--------------------------------------------------------------FOOTER------------------------------------------------*/

footer {
   border-top: 1px solid #EADCDC;
   clear: both;
   width: 100%;
}

footer nav#nav-bottom {
   font-size: 12px;
   margin-top: 20px;
}

footer nav#nav-bottom > ul {
   padding: 0;
   margin: 0;
   list-style: none;
}

footer nav#nav-bottom > ul li {
   float: left;
   padding: 0 30px;
   white-space: nowrap;
}

footer nav#nav-bottom > ul li a {
   color: #444;
   text-decoration: none;
}

footer .brand {
   color: #555;
   font-family: Verdana;
   font-weight: bold;
   margin: 20px auto;
   text-align: center;
   width: 170px;
}

/*-------------------------------------------------------RESTORE ACCESS-----------------------------------------------*/

.restore-content, .change-pswd-content, .error-autorization {
   padding-top: 30px;
}

.restore-wripper, .change-wripper {
   margin: 0 auto;
   width: 90%;
}

.restore-wripper h4,
.change-wripper h4 {
   color: #3765a5;
   font-size: 120%;
   font-weight: bold;
   text-align: center;
}

.restore-wripper h6,
.change-wripper h6,
.error-wripper h6 {
   color: #111;
   font-size: 80%;
   text-align: center;
}

.restore-input-wrapper {
   margin: 0 auto;
   width: 100%;
}

.fixed-label {
   display: none;
}

.restore-input-wrapper label {
   font-size: 110%;
   padding: 0 2px;
   text-align: left;
}

.restore-input-wrapper input, .change-input-wrapper input, .error-input-wrapper input {
   width: 90%;
   height: 30px;
   padding: 0 20px;
}

.input-submit-wrapper {
   margin: 12px auto;
   width: 42%;
}

.input-submit-wrapper input {
   background: rgba(0, 0, 0, 0) linear-gradient(180deg, #4385e2 0%, #518cde 100%) repeat scroll 0 0 !important;
   border: 1px solid #3765a5;
   border-radius: 2px;
   color: #fff;
   cursor: pointer;
   display: inline-block;
   padding: 3px 10px;
   text-shadow: 1px 1px 1px #222;
}

#restore_form .gif {
   float: right;
}

/*-------------------------------------------------------CHANGE PASSWORD---------------------------------------------*/

.change-wripper .fixed-label {
   width: 140px;
}

.change-wripper {
   width: 90%;
}

.change-input-wrapper {
   margin: 15px 0;
}

.change-input-wrapper span {
   font-size: 85%;
}

#change-password-form .input-submit-wrapper {
   width: 42%;
}

#change-password-form .gif, #error-authorization-form .gif {
   float: right;
   padding-right: 80px;
}

/*------------------------------------------------------ERROR AUTHORIZATION-------------------------------------------*/
.error-wripper h4 {
   color: #f00;
   font-size: 120%;
   font-weight: bold;
   text-align: center;
}

.error-wripper {
   margin: 0 auto;
   width: 85%;
}

.error-wripper .fixed-label {
   width: 150px;
}

#error-authorization-form .input-submit-wrapper {
   margin: 20px auto;
   width: 34%;
}

.registration {
   margin-top: 20px;
}

.registration a {
   text-decoration: none;
}

/*-------------------------------------------------------ADDITIONAL LINKS---------------------------------------------*/

article {
   padding: 20px 50px;
}

article h2 {
   text-align: center;
}

article section {
   padding: 20px;
}

article section h3 {
   color: #1f1882;
   font-style: italic;
   text-align: left;
   text-shadow: 1px 2px 1px #fff;
}

article section p {
   font-size: 95%;
   line-height: 30px;
   text-align: justify;
   text-indent: 100px;
}

article section span {
   color: gold;
   text-shadow: 1px 0px 1px #0c0771;
}

@media only screen and (max-width: 320px) {
   .login-form .input-wrapper-addtitional {
      font-size: 88%;
   }

   .content {
      min-height: 70px;
   }
}